table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.tab-content {
  display: none;
}

.tab-content.is-active {
  display: block;
}

label {
  white-space: nowrap;
}

body {
  background-color: #FAFAFA;
}

.tab-content {
  line-height: 2
}

.div-input {
  display: inline-block
}